html, body {
    margin: 0;
    padding: 0;
}
header{
    position: absolute;
width: 550px;
height: 260px;
left: 0px;
top: 0px;

background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
}
h1{
    position: absolute;
width: 448.4px;
height: 38px;
left: 51px;
top: 53px;

font-family: Inter;
font-style: normal;
font-weight: 800;
font-size: 22px;
line-height: 38px;
/* identical to box height, or 173% */

text-align: center;
letter-spacing: -0.05em;

color: #FFFFFF;
}
#count-el{
    position: absolute;
width: 211px;
height: 51.23px;
left: 169px;
top: 65px;

font-family: Inter;
font-style: normal;
font-weight: 800;
font-size: 97.5723px;
line-height: 24px;
/* or 25% */

text-align: center;

color: #FFFFFF;
}
#calculations{
   position: absolute;
width: 550px;
height: 350px;
left: 0px;
top: 260px;

background: #1F2937;
}

.units{
    position: absolute;
width: 546px;
height: 0px;


font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 50px;
/* or 143% */

text-align: center;

color: #FFFFFF;
}

#length-el{
    position: absolute;
width: 346px;
height: 25px;
left: 102px;
top: 60px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* or 143% */

text-align: center;

color: #D2D2D2;
}
#volume-el{
    position: absolute;
width: 346px;
height: 25px;
left: 102px;
top: 115px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* or 143% */

text-align: center;

color: #D2D2D2;
}
#mass-el{
    position: absolute;
width: 346px;
height: 21px;
left: 102px;
top: 180px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* or 143% */

text-align: center;

color: #D2D2D2;
}


